/* This document validates as CSS level 3 + SVG via https://jigsaw.w3.org/css-validator/ */

/* Font Imports
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Staatliches&family=Sulphur+Point:wght@300;400;700&display=swap');

/* Global styles
-------------------------------------------------- */
html{
    font-size: 100%;
    line-height: 1.4;
}
body {
  background-color: #303030;
  line-height: 1.2;
  margin: 0;
}
#page {
  width: 40%;
  background-color: white;
  margin: 50px auto;
  padding: 1.5% 3% 3% 3%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
}

/* Editorial box
-------------------------------------------------- */
h1{
    font-family: 'Sulphur Point', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.2em;
    padding-left: 0.2em;
    width: fit-content;
    border: 0.1em solid black;
    letter-spacing: 2px;
}

/* Headings and text styles
-------------------------------------------------- */

h2, h2 + p {
    font-family: "Staatliches", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    margin: 1% 0 1% 0;
}
h2 {
    transform:scale(0.475, 1);
    margin: 0;
    text-align: center;
    font-size: 64px;
    font-kerning: normal;
    letter-spacing: 18px;
    word-spacing: 18px;
    white-space: nowrap;
}

h4 {
    font-family: "Archivo Narrow", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 5% 0 5% 0;
}
/* first paragraph has no indent */
p:first-of-type {
    text-indent: 0px;
}
/* first letter in first paragraph is larger */
p:first-of-type::first-letter {
    font-size: 14px;
}
/* paragraph rules */
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    hyphens: auto;
    text-rendering: optimizeLegibility;
    text-align: justify;
    text-indent: 12px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-kerning: normal;
    letter-spacing: 0.25px; 
}
h2 + p {
    font-size: 16px;
    font-kerning: normal;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    white-space: nowrap;
    text-align: center;
}

/* Multi-column layout
-------------------------------------------------- */
main {
  column-count: 3;
  margin-top: 10px;

}
