/* Font Imports
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Staatliches&family=Sulphur+Point:wght@300;400;700&display=swap');

/* Global styles
-------------------------------------------------- */
html{
    font-size: 100%;
    line-height: 1.4;
}
body {
  background-color: #666;
  line-height: 1;
  margin: 0;
}
#page {
  width: 40%;
  background-color: white;
  margin: 50px auto;
  padding: 2.5%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
}

/* Editorial box
-------------------------------------------------- */
h1{
    font-family: 'Sulphur Point', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5em;
    padding-left: 0.2em;
    width: fit-content;
    border: 0.08em solid black;
    letter-spacing: 4px;
}

/* Headings and text styles
-------------------------------------------------- */

h2, h2 + p {
    font-family: "Staatliches", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    margin: 2%, 0, 2%, 0;
}
h2 {
    -webkit-transform:scale(1.3,1); /* Safari and Chrome */
    -moz-transform:scale(1.3,1); /* Firefox */
    -ms-transform:scale(1.3,1); /* IE 9 */
    -o-transform:scale(1.3,1); /* Opera */
    transform:scale(0.5,1); /* W3C */
    text-align: center;
    font-size: 64px;
    margin: 0;
    font-kerning: normal;
    letter-spacing: 16px;
    white-space: nowrap;
}
h2 + p {
    font-size: 16px;
    letter-spacing: 1.5px;
    white-space: nowrap;
    text-align: center;
}
h4 {
    font-family: "Archivo Narrow", sans-serif;
    font-weight: bold;
}
p:first-of-type {
    text-indent: 0px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    hyphens: auto;
    text-rendering: optimizeLegibility;
    text-align: justify; 
    text-indent: 16px;
    margin-block-start: 0;
    margin-block-end: 0;

}

/* Multi-column layout
-------------------------------------------------- */
main {
  column-count: 3;
  margin-top: 10px;

}
