@charset "utf-8";

html {
	box-sizing: border-box;
    
}
*, *::before, *::after {
	box-sizing: inherit;
}

body {
    background-color: black;
}
body > span > img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* send bg.jpg to the back*/
    /* blur effect */
    filter: blur(4px) grayscale(50%);
}
/* fonts */
@font-face {
  font-family: Rudelsberg-Schmuck;
  src: url(../assets/rudelsberg-schmuck.ttf);
}
@font-face {
  font-family: Rudelsberg;
  src: url(../assets/rudelsberg-plakatschrift.ttf);
}

main{
    /* pink gradient at bottom */
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.375), #c0099bad);
    color: white; 
}


div {
	width: 100%;
    height: fit-content;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
		 "header header header"
		 "artwork content artist"
		 "footer footer footer"
	;
	/* height of the grid rows */
	grid-template-rows: 150px auto 100px; /* header 150px, footer 100px and content fills the rest */
	/* width of the grid columns */ 
	grid-template-columns: 2fr 3fr 2fr;
	gap: 0.5rem;
    /* bg gradient, darker on left and right sides of page for sidebar legibility*/
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.375), rgb(0, 0, 0));
}

header {
	grid-area: header; /* setting grid-area */
	display: flex;
	justify-content: center;
    font-family: Rudelsberg, cursive;
    /* color: white; */
}
h1{
    font-size: 88px;
    text-transform: uppercase;
    letter-spacing: -3px; /* letters need to be closer together for legibility*/
    text-shadow: 4px 4px #1f4b38;
}

/* artist information */
div > aside {
	grid-area: artist; /* setting grid-area */
}

/* main page content */
section {
	grid-area: content; /* setting grid-area */
    /* brakence's text styling ------------------------------------------- */
    font-size: 40px;
    font-family: Rudelsberg, cursive;
    /* color: white;  */
    text-align: center;
    text-shadow: 6px 6px #000000;
}

/* single artwork */
figure{
    grid-area: artwork; /* setting grid-area */
}
img[src="assets/brakence-VFT.webp"] {
    border: black 5px solid;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
img[src="assets/brakence-VFT.webp"]:hover {
    filter: grayscale(100%) drop-shadow(4px 4px 4px #c0099b);
    transition: filter 1s ease;
}

/* fem voice rules -------------------------------------------------------------------------------------------- */
/* fem voice speaking uninterupted */
p > i > span {
    display: flex;
    justify-content: center;
    animation: pulsetext 10s infinite;
}
/* fem voice speaking behind brakence (inside one flexbox) */
p > span {
    display: flex;
    justify-content: center;
    animation: pulsetext 10s infinite;
    /* nested to add a space between brakence & fem voice's lyrics using escaped unicode char */
     i::before {
            content: "\00a0";
        }
}
/* continuing my self-learning of keyframes from last semester, wrote this one with help from w3schools */
@keyframes pulsetext {
    0% {transform: scale(0.95);}
    50% {transform: scale(1);}
    100% {transform: scale(0.95);}
}
/* fem voice's text styling*/
i {
    color: white;
    font-size: 50px;
    font-style: normal; /* turning off <i> styling so i can use them as selctors without text actually being italicized, need this for the font to display correctly */
    text-transform: uppercase;
    font-family: Rudelsberg-Schmuck, cursive;
    letter-spacing: -3px; /* letters need to be closer together for legibility*/
    text-shadow: 4px 4px #c0099b;
    animation: pulsetext 10s infinite;
}
/* end lyric rules -------------------------------------------------------------------------------------------- */

footer {
	border: 5px dotted orange;
	background: #FF9;
	grid-area: footer; /* setting grid-area */
}

/* padding to all text elements*/
header,
div > aside,
div > section,
figure > figcaption,
footer {
    /* padding to the main layout containers to give the text some room to breathe */
    padding: 1rem; /* padding is based on text so try and use a typographic unit like rem or em instead of px for better scalability and accessibility */
}

/* screen sizes ------------------------------------------------------------------------------------------------- */
/* @media screen and (max-width:3840px){
    img[src="assets/brakence-VFT.webp"] {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}  
/* 
@media screen and (max-width:1800px){
    img {
        width: 100%;
        height: 100%;
    }
} 

@media screen and (max-width:1000px){
    img {
        width: 100%;
        height: 100%;
    }
}  */