@charset "utf-8";

html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background: #CCC;
}

#container {
	border: 5px dotted red;
	background: #FCC;
	width: 80%;
	margin: 0 auto;
	/* set the container to display: grid; */
	display: grid;
	/* after that you can assign names to each element of the CSS with the grid-area: rule, come up with a concise and easy to read name for each so that the grid-template-areas rule is easy to read for ease of access*/
	/* grid-template-areas: rule lets you set the layout of each html element however you want */
	grid-template-areas:
		 "header header advert" /* we want the header to span across all three columns */
		 "subnav content advert" /* the nav, section, and aside will sit side by side in the second row */
		 "subnav footer footer" /* we want the footer to span across all three columns as well */
	;
	/* control the height of the grid rows */
	grid-template-rows: 150px auto 100px; /* the header will be 150px tall, the footer will be 100px tall and the content row will take up the remaining space */
	/* control the width of the grid columns */ 
	/* use fr (fractional) units to make sure that your grid is responsive and don't spill over top of the main container */
	grid-template-columns: 1fr 3fr 1fr;
	/* set the grid-gap (now just gap:) to create "gaps" or "gutters" between each element on the page */
	gap: 1rem;
}

header {
	border: 5px dotted blue;
	background: #CCF;
	grid-area: header; /* setting grid-area */
	/* you can create a flexbox inside of a grid container and manipulate it like normal, super useful */
	display: flex;
	justify-content: space-between;
}

header nav ul {
	list-style-type: none;
	padding: 0;
}

header nav ul li {
	display: inline;
}

#container > nav {
	border: 5px dotted green;
	background: #CFC;
	grid-area: subnav; /* setting grid-area */
}

section {
	border: 5px dotted darkorange;
	background: #FC9;
	grid-area: content; /* setting grid-area */
}

aside {
	border: 5px dotted purple;
	background: #C9C;
	grid-area: advert; /* setting grid-area */
}

footer {
	border: 5px dotted orange;
	background: #FF9;
	grid-area: footer; /* setting grid-area */
}

header,
#container > nav,
#container > section,
#container > aside,
footer {
    /* padding to the main layout containers to give the text some room to breathe */
    padding: 1rem; /* padding is based on text so try and use a typographic unit like rem or em instead of px for better scalability and accessibility */
}
